{
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "ecmaVersion": 2020,
        "sourceType": "module" 
    },
    "settings": {
        "react": {
            "version": "detect"
        }
    },
    "extends": [
        "plugin:react/recommended",
        "plugin:@typescript-eslint/recommended"
    ],
    "rules": {
        "indent": ["error", 4],
        "quotes": [2, "single", { "avoidEscape": true }]
    },
    "env": {
        "browser": true,
        "node": true,
        "jest": true
    }
}