.forecast-chart-days-item {
    padding: 5px;

    &:hover {
        cursor: pointer;
    }

    .forecast-chart-days-item-wrapper {
        height: 70px;
        border-radius: 5px;
        border: 1px solid #eee;
        display: flex;
        flex-flow: row;

        &:hover {
            box-shadow: 0 2px 6px 0 rgba(0,0,0,.2);
        }

        .forecast-chart-days-item-icon {
            width: 40px;
            margin-top: 15px;
            margin-left: 10px;
            margin-right: 5px;
        }

        .forecast-chart-days-item-date {
            font-weight: 700;
            font-size: 14px;
            display: flex;
            width: 80px;
            flex-direction: column;
            justify-content: center;

            .forecast-chart-days-item-date-name {
                display: flex;
                justify-content: center;
                align-items: center;
                padding-bottom: 3px;
            }

            .forecast-chart-days-item-date-format {
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }

        .forecast-chart-days-item-temperature {
            font-size: 12px;
            flex-grow: 1;

            .forecast-chart-days-item-temperature-max {
                height: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .forecast-chart-days-item-temperature-min {
                height: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
}

.forecast-chart-days-item.forecast-chart-days-active {
    .forecast-chart-days-item-wrapper {
        box-shadow: 0 2px 6px 0 rgba(0,0,0,.2);
    }
}


@media screen and (max-width: 850px) {
    .forecast-chart-days-item {
    
        .forecast-chart-days-item-wrapper {
    
            .forecast-chart-days-item-icon {

            }
    
            .forecast-chart-days-item-date {
                font-size: 12px;
            }

            .forecast-chart-days-item-temperature {
                display: none;
            }
        }
    }
}
