.weather-station-header-title {
  font-size: 30px;
  font-weight: 800;
  padding: 20px 0;
}

.weather-station-header-image {
  height: 340px;
  width: 100%;
  background-color: white;
  background-position: bottom;
  background-size: cover;
  background-position: center;
  border-radius: 5px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.5);
}

@media (max-width: 960px) {
  .weather-station-header-title {
    font-size: 24px;
  }

  .weather-station-header-image {
    height: 180px;
  }
}
