.pressure-chart {
    text-align: center;
    position: relative;
    
    .pressure-chart-svg {
        display: inline-block;
        font-family: "PT Sans";

        .pressure-chart-scale {
            stroke: #525252;

            .pressure-chart-scale-item {
                text-anchor: middle;
                dominant-baseline: alphabetic;
                font: 8px verdana,sans-serif;
                fill: #c46262;
            }
        }

        .pressure-chart-outline {
            fill: #a5a5a5;
        }

        .pressure-chart-needle {
            // fill: rgb(0, 144, 235);
            fill: #0747a6;
        }
    }

    .pressure-circle-wrapper {
        border: 2px solid  #0747a6;
        background-color: #fff;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, calc(-50% - 2px));
    }

    .pressure-chart-output {
        font-weight: 700;
        border-radius: 60px 60px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        text-align: center;

        .pressure-chart-value {
            font-size: 22px;
            line-height: 32px;
            padding-right: 12px;
            letter-spacing: -1px;
        }

        .pressure-chart-metric {
            position: absolute;
            top: -3px;
            font-size: 10px;
            right: 0;
            line-height: 10px;
        }
    }
}
