.glide-slider-current-conditions {
    max-width: 1360px;
    margin-left: auto;
    margin-right: auto;

    .glide__slide {
        margin-top: 5px;
        margin-bottom: 8px;
    }

    .first-slider {
        margin-left: 6px;
    }

    .glide__arrows {
        margin-top: 10px;
    }
}

.current-conditions-data-age {
    text-align: center;
    padding-bottom: 15px;
    font-weight: 600;

    .current-conditions-data-age-indication {
        margin-left: 5px;
        width: 12px;
        height: 12px;
        border-radius: 6px;

        background-color: rgb(177, 60, 60);
        display: inline-block;
    }

    .current-conditions-data-age-indication-online {
        background-color: rgb(60, 177, 95);
    }
}

.current-weather-graphic-align {
    text-align: center;
    padding: 20px;
}

.clear {
    &:after {
        content: " ";
        clear: both;
        display: table;
    }
}

.space-for-small-devices {
    display: none;
}


@media screen and (max-width: 1279px) {

    .space-for-small-devices {
        display: block;
    }
}